/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.sel_heading {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-size-adjust: none; 
  font-weight: bold;  
}

.colormapname {
  display:table;
    list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-size-adjust: none; 
  font-weight: normal;  
  padding-left:5px;
}

.transformname {
  display:table;
    list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-size-adjust: none; 
  font-weight: normal;  
  padding-left:5px;
}


.varname {
  display: inline-block;  
  height: 25px;
  background: #0099FF;
  padding-left:10px;
  padding-right:10px;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-decoration:none;
  list-style: none;
}

.xaxis line,
.xaxis path,
.yaxis line,
.yaxis path
{
	fill:none;
	stroke: black;
	shape-rendering: crispEdges;
}


.grid line {
	fill:none;
	stroke: #ccc;
	shape-rendering: crispEdges;	
}

.gridx  {
stroke-width:1;
fill none;
}

.yaxis text,
.xaxis text
{
	font-family:sans-serif;
	font-size: 11px;
}

.label {
	font-family:sans-serif;
	font-weight:bold;
	font-size: 13px;	
}

.outline {
}

.border {
  stroke:#222222;
  stroke-width:5.0;
}

.hover_selectie {
 background-color: LightBlue;
}
.active_selectie {
 background-color: SteelBlue;
}




/* Header styles */
#header {
  clear:both;
  float:left;
  width:100%;
}
#header {
  border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
  padding:.4em 15px 0 15px;
  margin:0;
}
#header ul {
  clear:left;
  float:left;
  width:100%;
  list-style:none;
  margin:10px 0 0 0;
  padding:0;
}
#header ul li {
  display:inline;
  list-style:none;
  margin:0;
  padding:0;
}
#header ul li a {
  display:block;
  float:left;
  margin:0 0 0 1px;
  padding:3px 10px;
  text-align:center;
  background:#eee;
  color:#000;
  text-decoration:none;
  position:relative;
  left:15px;
  line-height:1.3em;
}
#header ul li a:hover {
  background:#369;
  color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
  color:#fff;
  background:#000;
  font-weight:bold;
}
#header ul li a span {
  display:block;
}



.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%;     /* width of whole page */
  overflow:hidden;    /* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
  float:left;
  width:100%;     /* width of page */
  position:relative;
}
.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  padding:0 0 1em 0;  /* no left and right padding on columns, we just make them narrower instead 
          only padding top and bottom is included here, make it whatever value you need */
  overflow:hidden;
}
/* 3 Column settings */
.threecol {
  background:#eee;    /* right column background colour */
}
.threecol .colmid {
  right:25%;      /* width of the right column */
  background:#fff;    /* center column background colour */
}
.threecol .colleft {
  right:60%;      /* width of the middle column */
  background:#f4f4f4; /* left column background colour */
}
.threecol .col1 {
  width:56%;      /* width of center column content (column width minus padding on either side) */
  left:102%;      /* 100% plus left padding of center column */
}
.threecol .col2 {
  width:20%;      /* Width of left column content (column width minus padding on either side) */
  left:28%;     /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
  width:21%;      /* Width of right column content (column width minus padding on either side) */
  left:82%;     /* Please make note of the brackets here:
          (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}


#varlist {
  list-style: none;
  
}

#rigthbox ul {
  list-style: none;
  padding:0;
  margin:0;
}


#rightbox li {
  display: inline;  
  margin: 0 0.5em 0 0;
  background-color: LightBlue;
  color:#000;
}

#rightbox a {
 text-decoration:none; 
  color:#000;
}


.dayl {
stroke: blue; 
stroke-linecap: round; 
fill: none; 
stroke-width: 2;
}


#m_begin{
	display:inline-block;
  	width:32px;
  	height:32px;
  	text-indent:-9999px;
  	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAf0lEQVRYhe2VQQ6AIBADG1/kF3mhT9ITsTGLFDisiZ1kb3NoAyyAMcbcnI1R2QEcK95KgCL6r95MgNqm50veaIAi+qonB4jaRL7qDQVotXn6qicH6LXhUT05gNJmZgAAW5Qki88eAZN2CZnUZ8ikLSImdRUzaZ8Rs/wdG2P+yQUvJwg85geK3gAAAABJRU5ErkJggg%3D%3D);
}

#m_prev{
	display:inline-block;
  	width:32px;
  	height:32px;
  	text-indent:-9999px;
  	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAdklEQVRYhe3VQQ6AIAxE0eqJuCIn1BvpiqQLoSVtGGLmJe6I/hoFESIi29O5LEVELlRAda5LD2hTz7yptIDqXJce8DX1soDe1EsCRlO7Aw5nQMTwGWfw5mGRgDutwrDtR9hAf0MNthFp0K1Ygx1GWtpxTET/9gJxVZIeqZYziAAAAABJRU5ErkJggg%3D%3D);
}
#m_start{
	display:inline-block;
  	width:32px;
  	height:32px;
  	text-indent:-9999px;
  	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAYUlEQVRYhe2VSwrAIBDFHj2RV+wJPdK46dKigk5KeYHZh/gZyRhj5qmSCikQz9y0QAiqEZ1JrdETSK3xJpBWYyRwvMaMwHKNa7vmQT5/BNglRJ8h9hGhXzG2jPB1bIz5Jw2oQFg1DiOCzQAAAABJRU5ErkJggg%3D%3D);
}
#m_pause{
	display:inline-block;;
  	width:32px;
  	height:32px;
  	text-indent:-9999px;
  	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAMklEQVRYhe3OoREAMAwDsaT779ziMpOgSNi++ypguw42N/ymu88JAkYJECBAgAABAgAez1ACIGOphukAAAAASUVORK5CYII%3D);
}
#m_next{
  display:inline-block;;
  width:32px;
  height:32px;
  text-indent:-9999px;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAbklEQVRYhe2VQQrAIAwEt32RX+wL2x/pyUuxUYxki+yAN4nDEhNACCH63ADSwL38cdzUQhdbIMNOI0TASiNUoJVGuMA7DZpATWNK4BgU8GC+cTqLu1kl8Cyq0+S3TUj9hrRBRB3FtGVEX8dCiL0p59iSHurfxU4AAAAASUVORK5CYII%3D);
}
#m_last{
  display:inline-block;;
  width:32px;
  height:32px;
  text-indent:-9999px;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAd0lEQVRYhe2VWQrAIBQDQ0/kFT1hj2S/pFBcon2QQjPw/oJMcAOMMebmBJACc5XSmW4wkwvOctsCBeOWbO6VwKglmwsRaLVkc2ECz5ZsLlygtmRzabLulsDq5JnA0TJR8fktkB1C6TWUPUTSp1j2Gcm/Y2PMP7kAZsIIPCXTyCoAAAAASUVORK5CYII%3D);
}